* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

/*I'm not much of stylist, but I wanted to show I knew how to setup the linear gradient, I made the "billboard' space 250px so you could see a more
gradual gradient*/

.billboard {
  height: 250px;
  background-image: linear-gradient(black,white);
}

/*Added an image of myself with my dog Beau, as the requirement was to have a picture of yourself. Couldn't figure out how to center it with the other
content on the page*/

.billboard img {
  position: absolute;
  top: 10%;
  left: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #000000;
  color: #fff;
}

#hd-id {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 200%;
}

h2 {
  margin: 2% 0;
  font-size: 180%;
  text-align: center;
}
 /* The below section should be just for the Navigation bars. The should create space between each element, the font should be fairly bolded
 and the items should be underlined. When the mouse hovers over the text should turn white (#fff)*/

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
}

nav a {
  color: #cdf3af;
  font-weight: bold;
  text-decoration: underline;
}

nav a:hover {
  color: #fff;
}

#about_me img {
  border-radius: 10px;
}

/* The card section below is maybe not perfect, but useable in this sense. I wanted to make sure that the images uses in the flippable cards were 
all slightly rounded, and that the borders for each card were as well. I did make the background black because there was a slight overage of
white on the corners that I didn't know how to fix. These cards should flip over with a transition rate of 1.8seconds per turn, and reveal a different
image than the front of the card, as well as some text with specific items 'About Me'*/

.cards {
  display: flex;
  flex-wrap: wrap;
  columns: 2;
  justify-content: space-evenly;
  margin-top: 2%;
}

.flip-card {
  background-color: black;
  width: 331px;
  height: 231px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 3px solid black;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transition: transform 1.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 10px;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transform: rotateY(180deg);
}

/* I wasn't sure if I had to do separate selectors for each card back, but I figured since they were all separate images on the back it needed to be
done as below*/

#cardback1 {
  background-image: url(../images/Austin-Skyline.jpg);
}

#cardback2 {
  background-image: url(../images/laptop.jpg);
}

#cardback3 {
  background-image: url(../images/Cooking.jpg);
}

#cardback4 {
  background-image: url(../images/Coding.jpeg);
}

/* This was definitely tricky here. I was trying to make a similar setup to the gif provided, but with some slight personal changes. I was able to
get the 'Surf Report' title on the image where I wanted it, but when trying to adjust anything else for the other cards below it would mess up the whole
position of everything. I wasn't sure how to make them each card its own individual item.

This is also where I got stuck with the 2 column (or aside?). I wanted the 'About Me' and 'My Projects' to be to the left side of the screen. I tried a float
at one point, and got them aligned left with content to the right, but couldn't figure out how to get each 'section' to align - so the 'About Me' and
'My Projects' just sat right next to each other. Since I wanted to submit the homework with at least something useable I changed it to it's current
layout as of 9/26/22*/

.container {
  background: transparent;
  padding: 5%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  text-align: center;
  color: white;
}

#project1 {
  max-width: 100%;
}

.container #project1 h1{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

/*I believe the below selector is what is making the first picture larger than the rest*/

.container :first-child {
  width: 100%;
}

.container > * {
  width: 25%;
}

.container {
  background: transparent;
  width: auto;
  height: auto;
  margin: 4px;
  flex: 1;
  flex-basis: 25%;
}

/*I wanted to add a style element to the pictures when hovered over. I found a few different ones, but I liked how this one worked/looked the most*/

.fadein img{
  opacity:0.5;
  transition: 1s ease;
  }
  
  .fadein img:hover{
  opacity:1;
  transition: 1s ease;
  }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 10px;
  background-color: #000000;
  color: #fff;
  padding-right: 2%;
  }

/*I definitely need to go back to the @media screen section and brush up. I know that below I was able to get the header/footer to change colors,
as well as the billboard to stay consistent, but I didn't get the flex boxes to align the way I wanted, and the footer just kind of stacks
on top of itself when smushed.*/


@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
  }
  
  header {
    background: #772014;
  }

  .billboard {
    background-image: linear-gradient(#722014, white) ;
  }

  nav,
  footer {
    background-color: #bb8588;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}